@model List<NotDefteri.Data.Models.NoteModel> 
    @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Notlarım</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                @foreach (var note in Model)
                {
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>

                                <th>Başlık</th>
                                <th>Tarih</th>
                                <th>Kategori</th>
                                <th>Not İçerik</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>@note.Title</td>
                                <td>@note.Date</td>
                                <td>@note.CategoryModel.Name</td>
                                <td>@note.Content</td>
                            </tr>
                        </tbody>
                    </table>
                    }
                </div>
        </div>
    </div>
</div>
<div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-right">
        <li class="page-item"><a class="page-link" href="#">«</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">»</a></li>
    </ul>
</div>
