
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-info col-md-10" style="margin-top:100px;margin-left:10px;margin-bottom:300px">
    <div class="card-header">
        <h3 class="card-title">Kaydol</h3>
    </div>
    <form class="form-horizontal" action="/Account/Register">
        <div class="card-body">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" id="Email" name="Email" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Kullanıcı Adı</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Kullanıcı Adı">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Şifre</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="Password" name="Password" placeholder="Şifre">
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" id="btnRegister" class="btn btn-info">Kaydol</button>
        </div>
        <!-- /.card-footer -->
    </form>
</div>
<!--<!-- /.card -->-->
<!--@*<script src="~/Content/assets/plugins/jquery/jquery.min.js"></script>*@-->
<!--<!-- Bootstrap 4 -->
<!--<script src="~/Content/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!-- bs-custom-file-input -->-->
<!--@*<script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>*@-->
<!--<!-- AdminLTE App -->
<!--<script src="~/Content/assets/dist/js/adminlte.min.js"></script>-->
<!-- AdminLTE for demo purposes -->
<!--<script src="~/Content/assets/dist/js/demo.js"></script>-->
@*<script type="text/javascript">
        $(document).ready(function () {
            bsCustomFileInput.init();
        });
    </script>*@-->

<script src="~/Scripts/account.js"></script>


